package ms_{{.ServiceName}}

import (
	"sync"

	"github.com/pixie-sh/di-go"
	"github.com/pixie-sh/errors-go"

	"{{.ModuleName}}/bundles"
	"{{.ModuleName}}/internal/domains/{{.DomainName}}"
	{{- if .Features.notifications}}
	"{{.ModuleName}}/internal/domains/notifications"
	{{- end}}
)

func init() {
	bundles.Registry()
	{{- if .Features.notifications}}
	notifications.Registry()
	{{- end}}
	{{.DomainName}}.Registry()
	// register other di's here
	Registry()
}

var once sync.Once

func Registry() {
	once.Do(func() {
		errors.Must(di.RegisterConfiguration[*{{.ServiceNameCamel}}MicroserviceConfiguration](Registry{{.ServiceNameCamel}}MicroserviceConfiguration))
		errors.Must(di.Register[*{{.ServiceNameCamel}}Microservice](Registry{{.ServiceNameCamel}}Microservice))
	})
}