package notifications_services

import (
	"context"
	"time"

	"github.com/mailgun/mailgun-go/v4"
	pixiecontext "github.com/pixie-sh/core-go/pkg/context"
	"github.com/pixie-sh/core-go/pkg/types"
	"github.com/pixie-sh/di-go"
	"github.com/pixie-sh/errors-go"
)

// EmailService is an interface that defines methods for sending emails
type EmailService interface {
	Send(ctx context.Context, recipient, subject, body string) (string, error)
	Resend(ctx context.Context, id string, recipients ...string) (string, error)
}

// MailgunServiceConfiguration contains the configuration for the Mailgun email service
type MailgunServiceConfiguration struct {
	ApiKey     string `json:"api_key"`
	Domain     string `json:"domain"`
	FromSender string `json:"from_sender"`
}

// MailgunService implements EmailService using Mailgun
type MailgunService struct {
	config        *MailgunServiceConfiguration
	mailgunClient *mailgun.MailgunImpl
}

// NewMailgunService creates a new MailgunService
func NewMailgunService(_ context.Context, config *MailgunServiceConfiguration) (*MailgunService, error) {
	mailgunInstance := mailgun.NewMailgun(config.Domain, config.ApiKey)
	mailgunInstance.SetAPIBase(mailgun.APIBaseEU)

	return &MailgunService{
		config:        config,
		mailgunClient: mailgunInstance,
	}, nil
}

// Send sends an email using Mailgun
func (m *MailgunService) Send(ctx context.Context, recipient, subject, body string) (string, error) {
	message := m.mailgunClient.NewMessage(m.config.FromSender, subject, "", recipient)
	message.SetHtml(body)

	ctx, cancel := context.WithTimeout(ctx, time.Second*10)
	defer cancel()

	_, id, err := m.mailgunClient.Send(ctx, message)
	if err != nil {
		return "", errors.NewWithError(err, "failed to send email")
	}

	return id, nil
}

// Resend sends an email using Mailgun
func (m *MailgunService) Resend(ctx context.Context, id string, recipients ...string) (string, error) {
	ctx, cancel := context.WithTimeout(context.Background(), time.Second*10)
	defer cancel()

	_, id, err := m.mailgunClient.ReSend(ctx, id, recipients...)
	if err != nil {
		return "", errors.NewWithError(err, "failed to resend email")
	}

	return id, nil
}

func (n *MailgunServiceConfiguration) LookupNode(lookupPath string) (any, error) {
	return di.ConfigurationNodeLookup(n, lookupPath)
}

// RegistryNotificationsEmailServiceConfiguration registers the Mailgun service configuration
func RegistryNotificationsEmailServiceConfiguration(ctx di.Context, opts *di.RegistryOpts) (*MailgunServiceConfiguration, error) {
	return di.ConfigurationLookup[*MailgunServiceConfiguration](ctx, opts)
}

// RegistryNotificationsEmailService registers the Mailgun email service
func RegistryNotificationsEmailService(ctx di.Context, opts *di.RegistryOpts) (EmailService, error) {
	log := pixiecontext.GetCtxLogger(ctx)

	cfg, err := di.CreateConfiguration[*MailgunServiceConfiguration](ctx, di.WithOpts(opts))
	if err != nil {
		return nil, err
	}

	if types.IsEmpty(cfg) {
		log.Warn("No MailgunService configuration provided. Email service not initialized")
		return nil, nil
	}

	mailgunService, err := NewMailgunService(ctx, cfg)
	if err != nil {
		log.With("error", err).Error("Failed to create mailgun service")
		return nil, err
	}

	return mailgunService, nil
}
