package auth_migrations

import (
	"time"

	"github.com/pixie-sh/core-go/pkg/uid"
	"github.com/pixie-sh/database-helpers-go/database"
	"gorm.io/gorm"
)

type passwordReset{{ .MigrationTimestamp }}2 struct {
	ID           uid.UID `gorm:"primary_key,type:uuid"`
	Token        string  `gorm:"size:15;not null;index:password_resets_token_uq"`
	UserID       uid.UID `gorm:"type:uuid"`
	Ip           string  `gorm:"type:text"`
	RequestAgent string  `gorm:"type:text"`
	Status       string  `gorm:"type:password_reset_status;default:'valid'"`
	ValidUntil   time.Time
	CreatedAt    time.Time
}

func (passwordReset{{ .MigrationTimestamp }}2) TableName() string {
	return "password_resets"
}

var CreatePasswordResetTable{{ .MigrationTimestamp }}2 = database.Migration{
	ID: "{{ .MigrationTimestamp }}2_CreatePasswordResetTable",
	Migrate: func(tx *gorm.DB) error {
		if err := tx.Exec(`CREATE TYPE password_reset_status AS ENUM ('valid','expired','confirmed')`).Error; err != nil {
			return err
		}

		return tx.AutoMigrate(&passwordReset{{ .MigrationTimestamp }}2{})
	},
	Rollback: func(tx *gorm.DB) error {
		if err := tx.Migrator().DropTable(&passwordReset{{ .MigrationTimestamp }}2{}); err != nil {
			return err
		}
		return tx.Exec("DROP TYPE IF EXISTS password_reset_status").Error
	},
}
