package auth_repositories

import (
	"time"

	"github.com/pixie-sh/core-go/pkg/uid"
	"github.com/pixie-sh/database-helpers-go/database"

	"{{ .ModuleName }}/internal/domains/authentication/authentication_data_layer/auth_entities"
)

type PasswordRepository struct {
	database.Repository[PasswordRepository]
}

func NewPasswordRepository(db *database.DB) PasswordRepository {
	return PasswordRepository{database.NewRepository(db, NewPasswordRepository)}
}

func (r PasswordRepository) CreateNewReset(userID uid.UID, ip string, agent string, code string, validUntil time.Time) (auth_entities.PasswordReset, error) {
	data := auth_entities.PasswordReset{
		UserID:       userID,
		Token:        code,
		Ip:           ip,
		RequestAgent: agent,
		Status:       auth_entities.PasswordResetStatusValid,
		ValidUntil:   validUntil,
	}

	return data, r.DB.Model(&auth_entities.PasswordReset{}).
		Save(&data).Error
}

func (r PasswordRepository) FindUnusedForUserID(userID uid.UID) (passwordResets []auth_entities.PasswordReset, e error) {
	return passwordResets, r.DB.Model(&auth_entities.PasswordReset{}).
		Where("user_id", userID).
		Where("status", auth_entities.PasswordResetStatusValid).
		Find(&passwordResets).
		Error
}

func (r PasswordRepository) MarkInvalidAsExpired(ids []uid.UID) error {
	tx := r.DB.Model(&auth_entities.PasswordReset{}).
		Where("id IN ?", ids).
		Update("status", auth_entities.PasswordResetStatusExpired)

	return tx.Error
}

func (r PasswordRepository) MarkAsConfirmed(id uid.UID) error {
	tx := r.DB.Model(&auth_entities.PasswordReset{}).
		Where("id = ?", id).
		Update("status", auth_entities.PasswordResetStatusConfirmed)

	return tx.Error
}

func (r PasswordRepository) FindByTokenAndEmail(token, email string) (auth_entities.PasswordReset, error) {
	var reset auth_entities.PasswordReset
	err := r.DB.Model(&auth_entities.PasswordReset{}).
		Joins("JOIN users ON users.id = password_resets.user_id").
		Where("password_resets.token = ? AND users.email_address = ?", token, email).
		Where("password_resets.status = ?", auth_entities.PasswordResetStatusValid).
		First(&reset).Error
	return reset, err
}
