package authentication_data_layer

import (
	"context"

	pixiecontext "github.com/pixie-sh/core-go/pkg/context"
	"github.com/pixie-sh/core-go/pkg/layer"
	"github.com/pixie-sh/database-helpers-go/database"
	"github.com/pixie-sh/di-go"

	"{{ .ModuleName }}/bundles"
	internaldi "{{ .ModuleName }}/infra/di"
	"{{ .ModuleName }}/internal/domains/authentication/authentication_data_layer/auth_repositories"
)

type PasswordDataLayerConfiguration struct {
	DatabaseORMConfiguration bundles.DatabaseORMConfiguration `json:"database_orm"`
}

func (p PasswordDataLayerConfiguration) LookupNode(lookupPath string) (any, error) {
	return di.ConfigurationNodeLookup(p, lookupPath)
}

type PasswordDataLayer struct {
	layer.GenericDataLayer

	config             PasswordDataLayerConfiguration
	PasswordRepository auth_repositories.PasswordRepository
}

func NewPasswordDataLayer(_ context.Context, orm *database.Orm, layerConfig PasswordDataLayerConfiguration) (PasswordDataLayer, error) {
	return PasswordDataLayer{
		GenericDataLayer: layer.NewGenericDataLayer(orm),

		config:             layerConfig,
		PasswordRepository: auth_repositories.NewPasswordRepository(orm.DB),
	}, nil
}

func RegistryPasswordDataLayerConfiguration(ctx di.Context, opts *di.RegistryOpts) (*PasswordDataLayerConfiguration, error) {
	return di.ConfigurationLookup[*PasswordDataLayerConfiguration](ctx, opts)
}

func RegistryPasswordDataLayer(ctx di.Context, opts *di.RegistryOpts) (*PasswordDataLayer, error) {
	log := pixiecontext.GetCtxLogger(ctx)

	cfg, err := di.CreateConfiguration[*PasswordDataLayerConfiguration](ctx, di.WithOpts(opts))
	if err != nil {
		return nil, err
	}

	orm, err := di.Create[*bundles.DatabaseORM](ctx, di.WithOpts(opts), di.WithToken(internaldi.RegistryTokenDatabaseORM))
	if err != nil {
		log.With("err", err).Error("Failed to initialize %s for %s", internaldi.RegistryTokenDatabaseORM, internaldi.RegistryTokenPasswordDataLayer)
		return nil, err
	}

	passwordDataLayer, err := NewPasswordDataLayer(ctx, orm.Orm, *cfg)
	if err != nil {
		return nil, err
	}

	return &passwordDataLayer, nil
}
