package authentication_data_layer

import (
	"context"

	pixiecontext "github.com/pixie-sh/core-go/pkg/context"
	"github.com/pixie-sh/core-go/pkg/layer"
	"github.com/pixie-sh/database-helpers-go/database"
	"github.com/pixie-sh/di-go"

	"{{ .ModuleName }}/bundles"
	internaldi "{{ .ModuleName }}/infra/di"
	"{{ .ModuleName }}/internal/domains/authentication/authentication_data_layer/auth_repositories"
)

type AuthenticationDataLayerConfiguration struct {
	DatabaseORMConfiguration bundles.DatabaseORMConfiguration `json:"database_orm"`
}

func (a AuthenticationDataLayerConfiguration) LookupNode(lookupPath string) (any, error) {
	return di.ConfigurationNodeLookup(a, lookupPath)
}

type AuthenticationDataLayer struct {
	layer.GenericDataLayer

	config             AuthenticationDataLayerConfiguration
	UserRepository     auth_repositories.UserRepository
	PasswordRepository auth_repositories.PasswordRepository
	OTPRepository      auth_repositories.OTPRepository
	{{- if .Features.google_oauth}}
	GoogleAccountRepository auth_repositories.GoogleAccountRepository
	{{- end}}
}

func NewAuthenticationDataLayer(_ context.Context, orm *database.Orm, layerConfig AuthenticationDataLayerConfiguration) (AuthenticationDataLayer, error) {
	return AuthenticationDataLayer{
		GenericDataLayer: layer.NewGenericDataLayer(orm),

		config:             layerConfig,
		UserRepository:     auth_repositories.NewUserRepository(orm.DB),
		PasswordRepository: auth_repositories.NewPasswordRepository(orm.DB),
		OTPRepository:      auth_repositories.NewOTPRepository(orm.DB),
		{{- if .Features.google_oauth}}
		GoogleAccountRepository: auth_repositories.NewGoogleAccountRepository(orm.DB),
		{{- end}}
	}, nil
}

func RegistryAuthenticationDataLayerConfiguration(ctx di.Context, opts *di.RegistryOpts) (*AuthenticationDataLayerConfiguration, error) {
	return di.ConfigurationLookup[*AuthenticationDataLayerConfiguration](ctx, opts)
}

func RegistryAuthenticationDataLayer(ctx di.Context, opts *di.RegistryOpts) (*AuthenticationDataLayer, error) {
	log := pixiecontext.GetCtxLogger(ctx)

	config, err := di.CreateConfiguration[*AuthenticationDataLayerConfiguration](ctx, di.WithOpts(opts))
	if err != nil {
		log.With("error", err).Error("Failed to initialize config for %s!", internaldi.RegistryTokenAuthenticationDataLayer)
		return nil, err
	}

	orm, err := di.Create[*bundles.DatabaseORM](
		ctx,
		di.WithOpts(opts),
		di.WithToken(internaldi.RegistryTokenDatabaseORM),
	)
	if err != nil {
		log.With("error", err).Error("Failed to initialize %s for %s!", internaldi.RegistryTokenDatabaseORM, internaldi.RegistryTokenAuthenticationDataLayer)
		return nil, err
	}

	dataLayer, err := NewAuthenticationDataLayer(ctx, orm.Orm, *config)
	if err != nil {
		log.With("error", err).Error("Failed to initialize %s!", internaldi.RegistryTokenAuthenticationDataLayer)
		return nil, err
	}

	return &dataLayer, nil
}
