package auth_entities

import (
	"time"

	"github.com/pixie-sh/core-go/pkg/uid"
)

type PasswordResetStatus string

const (
	PasswordResetStatusValid     PasswordResetStatus = "valid"
	PasswordResetStatusExpired   PasswordResetStatus = "expired"
	PasswordResetStatusConfirmed PasswordResetStatus = "confirmed"
)

func (s PasswordResetStatus) String() string {
	return string(s)
}

// PasswordReset represents a password reset token
type PasswordReset struct {
	ID           uid.UID             `gorm:"primary_key,type:uuid"`
	Token        string              `gorm:"size:15;not null;index:password_resets_token_uq"`
	UserID       uid.UID             `gorm:"type:uuid"`
	Ip           string              `gorm:"type:text"`
	RequestAgent string              `gorm:"type:text"`
	Status       PasswordResetStatus `gorm:"type:text"`
	ValidUntil   time.Time
	CreatedAt    time.Time

	User *User `gorm:"foreignkey:UserID"`
}

func (PasswordReset) TableName() string {
	return "password_resets"
}
