package version

// Version and build information (set via ldflags at build time)
var Version = "<unknown>"
var Commit = "<unknown>"

// JWTVersion is the version of the JWT token structure
var JWTVersion float32 = 1.0
